// If you want to override variables do it here
@import 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Import styles
@import '~@coreui/coreui/scss/coreui';
@import '~nb-choices/nb-choices.scss';
// If you want to add something do it here
@import 'custom';

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
     src/styles.css (i.e. your global style)
  */
.dataTables_empty {
  display: none;
}

table thead .sorting_asc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('~datatables.net-dt/images/sort_asc.png');
}

table thead .sorting_desc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('~datatables.net-dt/images/sort_desc.png');
}

.nav-dropdown-items a {
  padding-left: 25px !important;
}

.sidebar {
  background: #4466b0;
}
.sidebar .nav-dropdown.open {
  background: #3b3b6d;
}
.sidebar .nav-link .nav-icon {
  color: white;
}
.sidebar .nav-link.active {
  color: black !important;
  background: #fbd61a;
}
.sidebar .nav-link.active:hover {
  color: black !important;
  background: #fbd61a;
}
.sidebar .nav-link.active .nav-icon {
  color: #3b3b6d;
}
.sidebar .nav-link:hover {
  color: #fff !important;
  background: #3b3b6d;
}
