/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';


.flp-container .flp-list-container {
    border-radius: 10;
}
.flp-container .flp-list-container .flp-listview {
    background-color: white;
}

.flp-container .flp-list-container .flp-listview .flp-row {
    background-color: white;
}
/* .flp-container .flp-list-container .flp-listview .flp-row .flp-row-container {
  padding: 10;
} */
.flp-container .flp-list-container .flp-listview .flp-row .flp-image {
    margin: 10 0 10 5;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container {
    margin: 10 10 10 5;
    /* margin: 0 10 0 10; */
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-title {
    font-weight: bold;
    font-size: 16;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-description {
    color: gray;
    font-size: 13;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-title-container .flp-no-title {
    margin-left: 15;
    padding: 10 0;
}
.flp-container .flp-list-container .flp-listview .flp-row .flp-item-selected {
    color: lightblue;
}

.flp-container .flp-hint-field {
    padding: 10 15;
    height: 40;
    background-color: #E0E0E0;
    border-radius: 10 10 0 0;
}

.flp-container .flp-cancel-container {
    background-color: #E0E0E0;
    height: 40;
    border-radius: 0 0 10 10;
}

.flp-container .flp-cancel-container .flp-btn-cancel {
    font-weight: bold;
    height: 40;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    font-size: 12;
}
