<div class="btn-group" dropdown>
  <button type="button" class="btn btn-black dropdown-toggle p-0" dropdownToggle>
    <i class="icon-settings"></i>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <ng-content></ng-content>
  </ul>
</div>
