<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          User Details
        </div>
        <alert *ngIf="updateErrorMessage" [dismissible]="true" [type]="'danger'">
          {{ updateErrorMessage }}
        </alert>
        <alert *ngIf="updateSuccessMessage" [dismissible]="true" [type]="'success'">
          {{ updateSuccessMessage }}
        </alert>
        <div *ngIf="!!user" class="card-body" style="padding: 35px">
          <div class="bd-example">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-lg-4">
                <div style="text-align: center">
                  <div style="margin-bottom: 20px;height:150px">
                    <img class="profile-img" [src]="user.image?user.image : '/assets/img/default-avatar.png'" alt="" />
                  </div>
                  <a *ngIf="role == 'super' || role == 'admin' " [routerLink]="['/dashboard/users/update', user._id]" class="btn btn-block btn-light"
                    href="#"> Edit</a>

                </div>
              </div>
              <div class="col-md-9 col-sm-8 col-lg-8">
                <div style="margin-top: 30px;">
                  <h3>
                    {{ user.first_name }}
                    {{ user.last_name }}
                  </h3>
                </div>
                <div style="margin-top: 15px;">
                  <dt>Email</dt>
                  <dd>{{ user.email }}</dd>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          النتائج
        </div>
        <dx-data-grid
          id="gridContainer"
          [dataSource]="dataSource"
          [hoverStateEnabled]="true"
          [showBorders]="true">
          <dxo-paging #pager [pageSize]="15"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 15, 30]"
            [showInfo]="true">
          </dxo-pager>

          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column
            dataField="_id"
            caption="ID"
            dataType="string">
          </dxi-column>
          <dxi-column dataField="name" dataType="string"></dxi-column>
          <dxi-column dataField="amount" dataType="number"></dxi-column>
          <dxi-column dataField="dateTime" dataType="date"></dxi-column>

        </dx-data-grid>

      </div>
    </div>
  </div>



</div>
