.card {
  background-color: #fff;
  color: #4d4d4d;
  margin: 15 15 0;
}
.card-layout {
  padding: 20;
}
.card-layout .h1 {
  margin-bottom: 15;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogOpen .content {
  opacity: 0.2;
}
.dialogOpen .dialog-wrapper {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.dialog-wrapper {
  visibility: collapse;
  opacity: 0;
}

.dialog {
  border-width: 1 0 1 0;
  border-color: black;
  background-color: white;
  width: 100%;
  margin-top: 100;
  padding: 20;
}
.dialog label {
  margin: 0 15 15 15;
  color: black;
}

.minus-btn {
  background-color: rgb(255, 206, 213);
  font-weight: bold;
}

.add-btn {
  background-color: rgb(181, 255, 197);
  font-weight: bold;
}

.item-label {
  font-size: 20pt;
  background: azure;
}
