<ActionBar title="️" class="action-bar">
</ActionBar>

<GridLayout [class.dialogOpen]="dialogOpen ">
    <ScrollView class="page content">
        <StackLayout>

            <div *ngIf="config">

                <!-- Details -->
                <CardView *ngFor="let item of config.options" class="card" elevation="40" radius="10"
                    ios:shadowRadius="3">

                    <StackLayout class="card-layout">
                        <FlexboxLayout alignItems="center" justifyContent="space-between">
                            <Label class="h2" [text]="item.name"></Label>
                        </FlexboxLayout>

                        <StackLayout [id]="item._id" *ngIf="item.actif">
                            <StackLayout *ngFor="let x of item.options" style="margin: 5">
                                <FlexboxLayout *ngIf="!x.options[0].global && x.actif" height="auto" alignItems="flex-start"
                                    justifyContent="flex-start">
                                    <Button class="minus-btn" [text]="'-'" width="20%" (tap)="onMinus(x )"></Button>
                                    <Button class="item-label" [text]="x.name" width="45%"></Button>
                                    <Button class="item-label" [text]="x.nb" width="15%"></Button>
                                    <Button [text]="'+'" class="add-btn" width="20%" (tap)="onAdd(x )"></Button>
                                </FlexboxLayout>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </CardView>
                <DockLayout>
                    <Button text="النتيجة" dock="right" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
                </DockLayout>
            </div>

        </StackLayout>
    </ScrollView>
    <AbsoluteLayout class="dialog-wrapper">
        <StackLayout class="dialog">

            <Button class="btn btn-primary" text="Share"></Button>
            <Button class="btn " text="Cancel" (tap)="closeDialog()"></Button>
        </StackLayout>
    </AbsoluteLayout>
</GridLayout>