<ActionBar title="قائمة الإختيارات️" class="action-bar">
</ActionBar>
<StackLayout *ngIf="user">
	<GridLayout class="list-group-item ml-1 p-1" rows="auto" columns="auto, *,*">
		<Image row="0" col="0" src="{{ user.image }}" class="thumb img-rounded ml-1"></Image>
		<StackLayout row="0" col="1">
			<Label text="{{ user.title | titlecase }}" class="list-group-item-heading ml-1 mt-2"></Label>
			<Label text="22 ans" class="list-group-item-heading ml-1 mt-2"></Label>
		</StackLayout>
		<Button (tap)="navigateToConfig()" row="0" col="2" class="start-btn" text="بدء الإختبار"></Button>
	</GridLayout>
	<ListView [items]="results">
		<ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
			<GridLayout class="list-group-item ml-1 p-1" rows="auto" columns="auto, *">
				<StackLayout row="0" col="1">
					<Label text="النتيجة: {{ item.amount }}" class="list-group-item-heading ml-1 mt-2"></Label>
					<Label text="التاريخ:{{ item.dateTime | date : 'yyyy MMMM dd hh:ss' }}"
						class="list-group-item-heading ml-1 mt-2"></Label>
				</StackLayout>
			</GridLayout>
		</ng-template>
	</ListView>
</StackLayout>