<dx-tree-list
  id="employees"
  [dataSource]="organisations"
  keyExpr="_id"
  parentIdExpr="parent"
  [showRowLines]="true"
  [showBorders]="true"
  [expandedRowKeys]="[1]">
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-selection mode="single"></dxo-selection>
  <dxi-column dataField="name"></dxi-column>

  <dxi-column width="20%" dataField="_id" cellTemplate="cellTemplate">
  </dxi-column>
  <div *dxTemplate="let data of 'cellTemplate'">
    <a [routerLink]="['/dashboard/jamia/update', data.value ]" > Edit</a>
  </div>
</dx-tree-list>
