<ActionBar title="️" class="action-bar">
</ActionBar>

<GridLayout>
    <ScrollView class="page">
        <StackLayout>

            <div *ngIf="config">

                <StackLayout class="card-layout">

                    <div *ngFor="let item of config.options" class="card" elevation="40" radius="10"
                        ios:shadowRadius="3">

                        <div [id]="item._id" [height]="item.actif ? 'auto' : 0">
                            <Label class="h2" [text]="item.name"></Label>

                            <StackLayout *ngFor="let x of item.options">
                                <Label *ngIf="x.options[0].global && x.actif" class="h2" [text]="x.name"></Label>
                                <TextField *ngIf="x.options[0].global" [(ngModel)]="x.nb" dock="right" width="100%"
                                    noDecimals="true" hint="0">
                                </TextField>
                            </StackLayout>
                        </div>
                    </div>
                </StackLayout>

                <DockLayout>
                    <Button text="النتيجة" dock="right" (tap)="ret()" class="btn btn-primary m-t-20"></Button>
                </DockLayout>
            </div>

        </StackLayout>
    </ScrollView>
</GridLayout>
