<ActionBar title="قائمة الإختيارات️" class="action-bar">
</ActionBar>



<GridLayout>
	<!-- <Image src="http://sg-fs.com/wp-content/uploads/2017/08/user-placeholder.png"></Image> -->
	<StackLayout>

		<Button text="إختر طالب" (tap)="showPicker()"></Button>
		<!-- <Button #startSelection text="بدء الإختبار" isEnabled="false"  (tap)="submit()" class="btn btn-primary m-t-20"></Button> -->

		
	</StackLayout>
	<FilterableListpicker #myfilter blur="dark" hintText="Type to filter..." [source]="users" (canceled)="cancelFilterableList($event)" (itemTapped)="itemTapped($event)"></FilterableListpicker>
</GridLayout>

