
<alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="true">
  {{ errorMessage }}
</alert>
<alert *ngIf="successMessage" [type]="'success'" [dismissible]="true">
  {{ successMessage }}
</alert>

<dx-button
  class="dx-icon-edit-button-save"
  text="Save"
  (onClick)="save()">
</dx-button>

<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [hoverStateEnabled]="true"
  [selectionFilter]="['selected', '=', true]"
  [showBorders]="true">
  <dxo-paging [pageSize]="15"></dxo-paging>
  <dxo-selection  mode="multiple"   [deferred]="true" ></dxo-selection>
  <dxo-filter-row  [visible]="true"></dxo-filter-row>

  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 15, 30]"
    [showInfo]="true">
  </dxo-pager>

  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column dataField="first_name" dataType="string"></dxi-column>
  <dxi-column dataField="last_name"  dataType="string"></dxi-column>

</dx-data-grid>
