  <button *ngIf="role == 'super' || role == 'admin' " type="button"
          class="btn btn-secondary mr-1 "
          data-toggle="modal" (click)="myModal.show()">Charger</button>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter des utilisateurs</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="dx-fieldset">


            <div class="dx-field">
              <input type="file" name="image" (change)="fileProgress($event)"/>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">أضف الطلبة إلى قائمتي</div>
              <div class="dx-field-value">
                <dx-check-box [(value)]="attachUsersToCurrentUser"> </dx-check-box>
              </div>
            </div>
            <div *ngIf="fileUploadProgress">
              Upload progress: {{ fileUploadProgress }}
            </div>
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="300"/>
            </div>
            <div class="mb-3" *ngIf="uploadedFilePath">
              {{uploadedFilePath}}
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <dx-button
          id="saveBtn"
          text="Save"
          type="success"
          (onClick)="onSubmit(myModal)">
        </dx-button>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



      <dx-data-grid id="userss" #userss
        [dataSource]="dataSource"
        (onInitialized)="onInitialized($event)"
        [hoverStateEnabled]="true"
        [showBorders]="true">

        <dxo-paging #pager [pageSize]="15"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 15, 30]"
          [showInfo]="true">
        </dxo-pager>

        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
        <dxo-filter-builder-popup
          [position]="popupPosition">
        </dxo-filter-builder-popup>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column
          dataField="_id"
          caption="ID"
          dataType="string">
        </dxi-column>
        <dxi-column dataField="first_name" dataType="string"></dxi-column>
        <dxi-column dataField="last_name" dataType="string"></dxi-column>
        <dxi-column dataField="type" dataType="type"></dxi-column>
        <!--  <dxi-column dataField="CustomerInfo.StoreState" caption="State" dataType="string"></dxi-column>-->
        <dxi-column dataField="_id" caption="edit" [width]="150" [allowFiltering]="false"
                    [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">

          <a class="btn btn-secondary mr-1" [routerLink]="['/dashboard/users/detail', data.value]">
            edit
          </a>
          <dx-button
            *ngIf="role == 'super' || role == 'admin' "
            type="danger"
            icon="clear"
            (onClick)="deleteUser(data.value)">
          </dx-button>

        </div>
      </dx-data-grid>

  <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,1)"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [position]="{ of: '#userss' }"
    [showPane]="true"
    [shading]="false"
    [closeOnOutsideClick]="false">
  </dx-load-panel>
