.card {
  background-color: #fff;
  color: #4d4d4d;
  margin: 15 15 0;
}
.card-layout {
  padding: 20;
}
.card-layout .h1 {
  margin-bottom: 15;
}

.ml-1 {
  margin-left: 15px;
}
.p-1 {
  padding: 10px;
}
.thumb {
  padding: 10px;
  height: 150px;
}

.mt-2 {
  margin-top: 20px;
}
