<ActionBar title="قائمة الطلاب" class="action-bar">
</ActionBar>

<ListView [items]="users">
	<ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
		<GridLayout class="list-group-item ml-1 p-1" rows="auto" columns="auto, *" (tap)="navigateToUser(item.id)">
			<Image row="0" col="0" src="{{ item.image }}" class="thumb img-rounded ml-1"></Image>
			<StackLayout row="0" col="1">
				<Label text="{{ item.title }}" class="list-group-item-heading ml-1 mt-2"></Label>
			</StackLayout>
		</GridLayout>
	</ng-template>
</ListView>