<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-6">
            <div class="card" *ngIf="user">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Edit User - <a [routerLink]="['/dashboard/users/detail',user._id]" href="#">{{user.first_name}} {{user.last_name}}</a>
                </div>
                <div class="card-body">
                    <form [formGroup]="userForm" class="form" (submit)="updateUser()">
                        <alert *ngIf="errorMessageUser" [type]="'danger'" [dismissible]="true">
                            {{ errorMessageUser }}
                        </alert>
                        <alert *ngIf="successMessageUser" [type]="'success'" [dismissible]="true">
                            {{ successMessageUser }}
                        </alert>
                        <div class="form-group">
                            <label>First Name</label>
                            <div style="color: red" *ngIf="firstName.hasError('required') && firstName.touched">
                                * First Name is required!
                            </div>
                            <div class="input-group mb-3 ">
                                <input formControlName="firstName" type="text" class="form-control"
                                    placeholder="firstName" required>
                            </div>
                        </div>

                      <div class="form-group" *ngIf="role === 'super'">
                        <label>User type</label>
                        <div style="color: red" *ngIf="type.hasError('required') && type.touched">
                          * Type Name is required!
                        </div>
                        <div class="input-group mb-3 ">
                          <input formControlName="type" type="text" class="form-control"
                                 placeholder="type" >
                        </div>
                      </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <div style="color: red" *ngIf="lastName.hasError('required') && lastName.touched">
                                * Last Name is required!
                            </div>
                            <div class="input-group mb-3 ">
                                <input formControlName="lastName" type="text" class="form-control"
                                    placeholder="lastName" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <div style="color: red" *ngIf="email.hasError('required') && email.touched">
                                * Email is required!</div>
                            <div style="color: red" *ngIf="email.hasError('pattern') && email.touched">
                                * This email format is invalid!</div>
                            <div class="input-group mb-3 ">
                                <input formControlName="email" type="text" class="form-control" placeholder="email"
                                    required>
                            </div>
                        </div>


                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">الجمعية</label>
                        <div class="col-md-9">
                          <div class="form-group row">
                            <div class="col-md-9">
                              <choices
                                       [withCheckbox]="true"
                                       [isCombo]="true"
                                       [formControl]="entity"
                                       [isMultiple]="true"
                                       [choices]="options"
                                       placeholder="Choose..."></choices>
                            </div>
                          </div>
                        </div>
                      </div>


                        <button style="color: white" class="btn btn-block btn-info" [disabled]="!userForm.valid"
                            type="submit">Save</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card" *ngIf="!!user">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    Change Password - {{user.first_name}} {{user.last_name}}
                </div>
                <div class="card-body">
                    <form [formGroup]="passwordForm" class="form">
                        <alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="true">
                            {{ errorMessage }}
                        </alert>
                        <alert *ngIf="successMessage" [type]="'success'" [dismissible]="true">
                            {{ successMessage }}
                        </alert>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password" autocomplete="new-password" required>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input formControlName="repeatPassword" type="password" class="form-control"
                                placeholder="Repeat password" autocomplete="new-password" required>
                        </div>
                        <button (click)="changePassword(passwordForm.value)" type="button"
                            class="btn btn-block btn-success">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
