<div class="animated fadeIn">
  <div class="row">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="jumbotron">
          <h1 class="display-3">!مرحباً, بكم</h1>
          <p class="lead">فضاء خاص لروابط القرأن الكريم وطلبة العلم.</p>
          <hr class="my-4">
          <p></p>
          <p class="lead">
<!--            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
            "جاء في الحديث الذي رواه عثمان بن عفان -رضي الله عنه- إنَّ رسول الله -صلَّى الله عليه وسلَّم- قال : "خيركم من تعلم القرآن وعلمه

          </p>
        </div>
      </div>
    </div>

  </div>

</div>
