<ActionBar title="️" class="action-bar">
</ActionBar>

<GridLayout>
	<ScrollView class="page">
		<StackLayout>
			<StackLayout class="card-layout">
				<CardView class="card">
					<FlexboxLayout height="auto" alignItems="flex-start" justifyContent="flex-start">
						<Label *ngIf="result" class="h2" [text]="result.amount"></Label>
						<Label class="h2" text=" تقييم النتيجة "></Label>
					</FlexboxLayout>
				</CardView>
				
				<stack-layout *ngFor="let it of result.details;" height="auto" alignItems="flex-start"
					justifyContent="flex-start">
					<CardView class="card" height="auto">
						<GridLayout *ngIf="result" class="grid-table" [columns]="'*, *'" [rows]="getRows(it.minus)">
							<ng-container *ngFor="let m of it.minus; let row=index;">
								<Label [text]="m.amount" [col]="0" [row]="row" class="item-result"></Label>
								<Label [text]="m.name" [col]="1" [row]="row" class="item-result"></Label>
							</ng-container>
						</GridLayout>
					</CardView>
					<CardView class="card" height="auto">
						<GridLayout class="grid-table" [columns]="'*, *'" [rows]="getRows(it.plus)">
							<ng-container *ngFor="let m of it.plus; let row=index;">
								<Label [text]="m.amount" [col]="0" [row]="row"></Label>
								<Label [text]="m.name" [col]="1" [row]="row"></Label>
							</ng-container>
						</GridLayout>
					</CardView>
				</stack-layout>
				<Button text="حفظ النتيجة" dock="right" (tap)="saveResult()" class="btn btn-primary m-t-20"></Button>
			</StackLayout>

		</StackLayout>
	</ScrollView>
</GridLayout>