.card {
  background-color: #fff;
  color: #4d4d4d;
  margin: 15 15 0;
}
.card-layout {
  padding: 20;
}
.card-layout .h1 {
  margin-bottom: 15;
}
.grid-table {
  padding: 10pt;
  font-size: 20pt;
  background-color: rgb(241, 241, 241);
  color: black;
}
