
<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [hoverStateEnabled]="true"
  [showBorders]="true">
  <dxo-paging #pager [pageSize]="15"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 15, 30]"
    [showInfo]="true">
  </dxo-pager>

  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-selection mode="single"></dxo-selection>
  <dxi-column
    dataField="_id"
    caption="ID"
    dataType="string">
  </dxi-column>
  <dxi-column dataField="name" dataType="string"></dxi-column>
  <dxi-column dataField="amount" dataType="number"></dxi-column>
  <!--  <dxi-column dataField="CustomerInfo.StoreState" caption="State" dataType="string"></dxi-column>-->
  <dxi-column dataField="_id" caption="edit" [width]="150" [allowFiltering]="false"
              [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
  <div *dxTemplate="let cell of 'cellTemplate'">
    <dx-button [disabled]="cell.data.name === 'default'"
      icon="edit"
      (onClick)="edit(cell.data._id)">
    </dx-button>
    <dx-button [disabled]="cell.data.name === 'default'"
      type="danger"
               icon="clear"
               (onClick)="deleteConfig(cell.data._id)">
    </dx-button>
  </div>
</dx-data-grid>
