<ActionBar title="الإختيارات️️" class="action-bar">
</ActionBar>

<GridLayout>
    <ScrollView class="page">
        <StackLayout>
            <!-- On Android the card view plugin requires adding an external library
                therefore it can't be demoed on Playground. You will have to download this project
                and build it locally to try it on Android -->
            <div *ngIf="config">
                <!--Globale -->
                <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
                    <StackLayout class="card-layout">
                        <Label class="h3" dock="left" text="Configuration Globale"></Label>
                        <TextField dock="right" [(ngModel)]="config.amount" [text]="config.amount">
                        </TextField>
                        <TextField [(ngModel)]="config.name" [text]="config.name" hint="Enter text..."></TextField>

                        <FlexboxLayout height="40" alignItems="center" justifyContent="space-between">
                            <Switch [(ngModel)]="config.name" [checked]="config.ConfigType == 'percentage'"></Switch>
                            <Label class="h2" text="Pourcentage"></Label>
                        </FlexboxLayout>
                    </StackLayout>
                </CardView>

                <!-- Details -->
                <CardView *ngFor="let item of config.options" class="card" elevation="40" radius="10"
                    ios:shadowRadius="3">

                    <StackLayout class="card-layout">
                        <FlexboxLayout height="40" alignItems="center" justifyContent="space-between">
                            <Switch #elemx [checked]="item.actif" [(ngModel)]="item.actif"
                                (checkedChange)="hideOpen(item)"></Switch>
                            <Label class="h2" [text]="item.name"></Label>
                        </FlexboxLayout>

                        <Label text="احتساب جملي" row="0" col="1"></Label>
                        <Switch [checked]="item.global" [(ngModel)]="item.global" dock="right" class="m-15" row="1"
                            col="1"></Switch>

                        <!-- On Android the card view plugin requires adding an external library
                            therefore it can't be demoed on Playground. You will have to download this project
                            and build it locally to try it on Android -->
                        <StackLayout [id]="item._id" style="background-color: darkcyan;"
                            [height]="item.actif ? 'auto' : 0">
                            <StackLayout *ngFor="let x of item.options" class="card-layout" backgroundColor="#f4fffd">

                                <FlexboxLayout height="40" alignItems="center" justifyContent="space-between">
                                    <Switch #elem [checked]="x.actif" [(ngModel)]="x.actif" height="40"
                                        (checkedChange)="openHide(x)" dock="right" class="m-15" row="1" col="1">
                                    </Switch>
                                    <Label class="h2" height="40" dock="left" [text]="x.name"></Label>
                                </FlexboxLayout>

                                <stack-layout [height]="item.actif ? 'auto' : 0" width="auto" [id]="x._id">
                                    <FlexboxLayout *ngFor="let i of x.options" alignItems="center"
                                        justifyContent="space-between">
                                        <TextField dock="right" [(ngModel)]="i.value" width="100%" noDecimals="true"
                                            hint="0" [text]="i.value"></TextField>
                                        <Label *ngIf="i.name != 'default'" [text]="i.name"></Label>
                                    </FlexboxLayout>
                                    <FlexboxLayout *ngFor="let i of x.options" alignItems="center"
                                        justifyContent="space-between">
                                        <Label text="احتساب جملي" row="0" col="1"></Label>
                                        <Switch [checked]="i.global" [(ngModel)]="i.global" dock="right" class="m-15"
                                            row="1" col="1"></Switch>
                                    </FlexboxLayout>
                                </stack-layout>

                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </CardView>
                <DockLayout>

                    <Button text="back" dock="left" (tap)="back()" class="btn btn-primary m-t-20"></Button>
                    <Button text="بدء الإختبار" dock="right" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
                </DockLayout>
            </div>

        </StackLayout>

    </ScrollView>
</GridLayout>