<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          أضف خيارا
        </div>


        <div id="config-edit" *ngIf="config">

          <dx-button style="float: right; margin-top: 20px;margin-right: 20px"

                     icon="save"
                     type="success"
                     text="Save Config"
                     (onClick)="saveConfig()">
          </dx-button>

          <dx-box
            direction="col"
            width="100%"
            [height]="250">
            <dxi-item
              class="rect demo-dark header"
              [ratio]="1">

              <div id="form">
                <div class="dx-fieldset">
                  <div class="dx-field">
                    <div class="dx-field-label">Config Name</div>
                    <div class="dx-field-value">
                      <dx-text-box [(ngModel)]="config.name" value="{{config.name}}"></dx-text-box>
                    </div>
                  </div>
                  <div class="dx-field">
                    <div class="dx-field-label">Montant</div>
                    <div class="dx-field-value">
                      <dx-number-box [(ngModel)]="config.amount"
                                     [value]="config.amount"
                                     [showSpinButtons]="true"
                                     [showClearButton]="true">
                      </dx-number-box>
                    </div>
                  </div>
                </div>
              </div>

              <dxi-item
                class="rect demo-dark footer"
                [ratio]="1">
                <dx-accordion
                  #accordion
                  [dataSource]="config.options"
                  [collapsible]="true"
                  [multiple]="true"
                  [animationDuration]="300"
                  [selectedItems]="[config.options[0]]">

                  <div *dxTemplate="let config of 'title'" style="background-color: #e6f0ff">
                    <dx-box
                      direction="row"
                      width="100%"
                      [height]="75">
                      <dxi-item
                        class="rect demo-dark"
                        width="100%"
                        [ratio]="1">
                        <h2>{{config.name}}</h2>
                      </dxi-item>
                      <dxi-item
                        class="rect demo-dark"
                        [ratio]="0"
                        baseSize="5%">
                        <dx-switch [(ngModel)]="config.actif" [value]="config.actif"></dx-switch>
                      </dxi-item>
                    </dx-box>
                  </div>
                  <div *dxTemplate="let item of 'item'" style="background-color: #f4f9ff">
                    <div>
                      <p>
                        <b>احتساب جملي</b>
                        <span><dx-switch  [(ngModel)]="item.global" [value]="item.global"></dx-switch></span>
                      </p>

                      <dx-accordion
                        [dataSource]="item.options"
                        [collapsible]="true"
                        [multiple]="true"
                        [animationDuration]="300">

                        <div *dxTemplate="let childItem of 'title'">
                          <dx-box
                            direction="row"
                            width="100%">
                            <dxi-item
                              class="rect demo-dark"
                              width="100%"
                              [ratio]="1">
                              <h3>{{childItem.name}}</h3>
                            </dxi-item>
                            <dxi-item
                              class="rect demo-dark"
                              [ratio]="0"
                              baseSize="5%">
                              <dx-switch [(ngModel)]="childItem.actif" [value]="childItem.actif"></dx-switch>
                            </dxi-item>
                          </dx-box>
                        </div>
                        <div *dxTemplate="let childItem of 'item'">
                          <div *ngFor="let option of childItem.options">
                            <div class="dx-fieldset">
                              <div class="dx-field">
                                <div class="dx-field-label">{{option.name}}</div>
                                <div class="dx-field-value">
                                  <dx-number-box [(ngModel)]="option.value"
                                                 [value]="option.value"
                                                 [showSpinButtons]="true"
                                                 [showClearButton]="true">
                                  </dx-number-box>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </dx-accordion>
                    </div>
                  </div>
                </dx-accordion>

              </dxi-item>
            </dxi-item>

          </dx-box>
        </div>

      </div>
    </div>
  </div>
</div>
